<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag 'Miami_1.jpg' %>
      <div class="caption center-align">
        <h3>DISCOVER <span class="red-font">NEW</span> MARKETS</h3>
        <h5 class="light grey-text text-lighten-3">THE RIGHT <span class="red-font">PEOPLE</span> THE RIGHT <span class="red-font">INDUSTRIES</span> RIGHT <span class="red-font">NOW</span></h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami_2.jpg' %>
      <div class="caption left-align">
        <h3>WE CREATE <span class="red-font">MEANINGFUL</span> INTERFACES THAT INSPIRE.</h3>
        <h5 class="light grey-text text-lighten-3">FIND OUT WHAT MIAMI CAN OFFER</h5>
      </div>
    </li>
    <li>
      <<%= image_tag 'miami-construction.jpg' %>
      <div class="caption right-align">
        <h3>TAP INTO THE WISDOM OF THE <span class="red-font">TOP 200 BUSINESS</span> MINDS</h3>
        <h5 class="light grey-text text-lighten-3">The only way for investors and entrepreneurs to instantly access the insights of the top 200 local business leaders</h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami-design.jpg' %>
      <div class="caption center-align">
        <h3>YOUR 360-DEGREE VIEW OF THE <span class="red-font">MARKET</span></h3>
        <h5 class="light grey-text text-lighten-3">Invest: Miami gives you the panoramic view of the Miami market to deliver the intelligence you need to succeed in any industry</h5>
      </div>
    </li>
  </ul>
</div>
<h4>WHY <span class="red-font">MIAMI</span></h4>

<!-- <div id="highcharts1" style="height: 300px"></div> -->

<!-- Miami MSA GDP compared to US -->
<div class="charts-container">
  <div class="row charts">
    <div class="col s6">
      <div id="highcharts2" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts3" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
  <!-- highcharts 4 and 5 should be on the same line -->

  <div class="row charts">
    <div class="col s6">
      <div id="highcharts4" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts5" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

</div>


<section class="process">

<div>
<h4 class="heavyLiftingTitle">THE <span class="red-font">HEAVY LIFTING</span> DONE FOR YOU.</h4>
<h6 class="heavyLifting">Our 3-step process for high-impact investor insight:</h6>
<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">1. Interview</span>
			</div>
			<div class="desc">Our in-market research team conducts over 200 in-person interviews with the local leaders who matter most.</div>
		</div>
	</li>

	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">2. Analyze</span>
			</div>
			<div class="desc">Our analysts break down expert insights gathered from each interview.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">3. Publish</span>
			</div>
			<div class="desc">We bring you the insights of the top local leaders so you can see the best investment opportunities in each sector of the market.</div>
		</div>
	</li>

</ul>
</section>

<section class="pub-intro">
  <div class="row">
    <div class="col s4 offset-s4">
      <%= image_tag 'Logo-Invest.png'%>
    </div>
  </div>
  <h4>Tap Into The <span class="red-font">Top 200 Miami Business Minds</span> With Just <span class="red-font">One Publication</span></h4>
  <div class="row">
    <div class="col s5 offset-s1">
      <%= image_tag 'covers.jpg', :class => "mag-covers"%>
    </div>
    <div class="col s5 offset-s1">
      <h5 class="tagline">THE RIGHT PEOPLE. THE RIGHT INDUSTRIES. RIGHT NOW.</h5>
    </div>
  </div>

</section>
  <div class="pub-description">
    <h4>Includes 15 High Impact Chapters</h4>
  </div>
  <div class="row">
    <div class="col s10 offset-s1">
  <%= image_tag 'Accounting.jpg', :class => "chapter"%>
  <%= image_tag 'Bankin-Finance.jpg', :class => "chapter"%>
  <%= image_tag 'Construction.jpg', :class => "chapter"%>
  <%= image_tag 'Economy.jpg', :class => "chapter"%>
  <%= image_tag 'Education.jpg', :class => "chapter"%>
</div>
</div>
<div class="row">
    <div class="col s10 offset-s1">
  <%= image_tag 'Entertainment.jpg', :class => "chapter"%>
  <%= image_tag 'Health.jpg', :class => "chapter"%>
  <%= image_tag 'Retail.jpg', :class => "chapter"%>
  <%= image_tag 'Sports.jpg', :class => "chapter"%>
  <%= image_tag 'Transportation.jpg', :class => "chapter"%>
</div>
</div>
  <div class="row">
      <div class="col s10 offset-s1">
  <%= image_tag 'Legal.jpg', :class => "chapter"%>
  <%= image_tag 'Real-Estate.jpg', :class => "chapter"%>
  <%= image_tag 'Trade-Logistics.jpg', :class => "chapter"%>
  <%= image_tag 'Tourism.jpg', :class => "chapter"%>
  <%= image_tag 'Technology.jpg', :class => "chapter"%>
</div>
</div>
<div class="pub-description">
  <h4>Purchase Your Access Today</h4>
</div>
<div class="row">
  <div class="col s1 offset-s1">
    <i class="fa fa-users purchase fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col s4">
    <h5>The Right People</h5>
    <p>Exclusive interviews with top CEOs, politicians and cultural icons.</p>

  </div>
  <div class="col s1 offset-s1">
    <i class="fa fa-line-chart purchase fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col s4">
    <h5>High Impact Analysis</h5>
    <p>Hard-hitting analysis of the leading challenges facing the market.</p>
  </div>
</div>
<div class="row">
  <div class="col s1 offset-s1">
    <i class="fa fa-industry purchase fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col s4">
    <h5>The Right Industries.</h5>
    <p>In-depth coverage on real estate, finance, trade, technology and a dozen other key sectors.</p>
  </div>
  <div class="col s1 offset-s1">
    <i class="fa fa-eye purchase fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col s4">
    <h5>The Top Opportunities</h5>
    <p>Emerging opportunities for investors and innovators</p>
  </div>
</div>

<div class="row">
  <div class="col s2 offset-s2 buy-box" >
    <h5> By Chapter </h5>
    <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span>Amount: $17.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="1700"
              data-locale="auto"></script>
    <% end %>

  </div>
  <div class="col s2  buy-box" style="margin-left: 15px;">
    <h5> Digital Only </h5>
    <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span>Amount: $129.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="12900"
              data-locale="auto"></script>
    <% end %>


  </div>
  <div class="col s2 buy-box" style="margin-left: 15px;">
    <h5> Print Only </h5>
    <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span>Amount: $199.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="A month's subscription"
              data-amount="19900"
              data-locale="auto"></script>
    <% end %>


  </div>
  <div class="col s2 buy-box" style="margin-left: 15px;">
    <%= form_tag charges_path do %>
    <h5> Digital + Print </h5>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <label class="amount">
          <span>Amount: $254.00</span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Print + Digital"
              data-amount="25400"
              data-locale="auto"></script>
    <% end %>


  </div>

</div>


<!-- section to buy the magazine -->

<section class="buy-links">
  <div class="row">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>


<div id="recent_posts">
  <h3>Recent Invest Miami Posts</h3>
  <div class ="row">
    <ul>
      <% for entry in FeedEntry.all %>
        <div class="col s4 rss-feed">
          <li><%#= image_tag entry.content %></li>
          <li><%= link_to entry.name, entry.url %></li>
          <li><%= sanitize entry.summary %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>


<!-- Invest Miami Tweeter feed -->
<div class="twitter-feed">
  <h4 class="tweets-header"> Tweets by Invest:Miami </h4>
  <div class="row">
    <div class="col s4 offset-s4">
      <a class="twitter-timeline" href="https://twitter.com/Invest_Miami" data-widget-id="625954614261731328">Tweets by @Invest_Miami</a><br />
    </div>
  </div>
</div>

<!-- Political and Business Testimonials -->

<div class="container">
    <div class="row">
        <div class="col l12 center-align">
            <div class=""></div>
            <h3>Testimonials from Political and Business Leaders</h3>
            <p>How state initiatives are bringing new jobs and diverse investments to Miami-Dade.</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col s12 l4">
            <div class="bubble">
              "We’ve been able to add 1.25 million jobs in the first five years of the initiative, including 18,000
              new jobs in Miami-Dade from Nov 2014 to Nov 2015, bringing the county unemployment rate to 5.8 percent."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar_rs.png') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Rick Scott
                    </div>
                    <small class="text-muted">Governor - State of Florida</small>
                </div>
            </div>
        </div>

        <div class="col s12 l4">
            <div class="bubble">
              "Every day, we continue to invest in making Miami-Dade County a world-class community for our residents to live, work and play. "
              <br>
              <br>
              <br>
              <br>
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar_cg.png') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Carlos A. Gimenez
                    </div>
                    <small class="text-muted">Mayor - Miami Dade County</small>
                </div>
            </div>
        </div>

        <div class="col s12 l4">
            <div class="bubble">
              "Global changes impact Miami’s economy as much or more than any other U.S. community.
              Miami-Dade continues to be a gateway for investment to the U.S. and the region."
            </div>
            <br>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar_lw.png') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Larry K. Williams
                    </div>
                    <small class="text-muted">President & CEO, The Beacon Council</small>
                </div>
            </div>
        </div>
    </div>
</div>

</section>


<!-- contact us section -->

<footer class="process-footer">
  <div class="container">
    <!-- <h4><span class="white-font">Contact Us</span></h4> -->
    <div class="row">
      <div class="col l6 s12">
        <p><span class="white-font">THE RIGHT PEOPLE.</span> <span class="red-font">THE RIGHT INDUSTRIES.</span><span class="white-font"> RIGHT NOW.</span></p>
      </div>
      <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Follow Us</h5>
          <a href="https://www.linkedin.com/company/capital-analytics-associates"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Invest_Miami"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/capitalanalyticsassociates/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UC4pxI9TxPRyoxcrY7fItF5w"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span class="white-font">© 2016 Copyright Text</span>
    </div>
  </div>
</footer>
