<section class="panel">

<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag 'Miami_1.jpg' %>
      <div class="caption center-align">
        <h3>DISCOVER <span class="red-font">NEW</span> MARKETS</h3>
        <h5 class="light grey-text text-lighten-3">THE RIGHT <span class="red-font">PEOPLE</span> THE RIGHT <span class="red-font">INDUSTRIES</span> RIGHT <span class="red-font">NOW</span></h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami_2.jpg' %>
      <div class="caption left-align">
        <h3>WE CREATE <span class="red-font">MEANINGFUL</span> INTERFACES THAT INSPIRE.</h3>
        <h5 class="light grey-text text-lighten-3">FIND OUT WHAT MIAMI CAN OFFER</h5>
      </div>
    </li>
    <li>
      <%= image_tag 'miami-construction.jpg' %>
      <div class="caption right-align">
        <h3>TAP INTO THE WISDOM OF THE <span class="red-font">TOP 200 BUSINESS</span> MINDS</h3>
        <h5 class="light grey-text text-lighten-3">The only way for investors and entrepreneurs to instantly access the insights of the top 200 local business leaders</h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami-design.jpg' %>
      <div class="caption center-align">
        <h3>YOUR 360-DEGREE VIEW OF THE <span class="red-font">MARKET</span></h3>
        <h5 class="light grey-text text-lighten-3">Invest: Miami gives you the panoramic view of the Miami market to deliver the intelligence you need to succeed in any industry</h5>
      </div>
    </li>
  </ul>
</div>

</section>

<div class="container">
  <div id="why">
    <h4>WHY <span class="red-font">MIAMI</h4>
    </div>
  <div id="reasons">
    <div class="hideme">Miami is a growing market in a vast number of industries.</div>
    <div class="hideme">Over the last few years, the Gross Domestic Product of the Miami
      metropolitan statistical area has exceeded the national average.</div>
    <div class="hideme">Job creation continues to increase, especially in small business
    start-ups.</div>
  </div>
</div>


<!-- <div id="highcharts1" style="height: 300px"></div> -->

<!-- Miami MSA GDP compared to US -->
<div class="charts-container">
  <div class="row charts">
    <div class="col l6 m6 s12">
      <div class="hcfn" id="highcharts2"></div>
    </div>
    <div class="col l6 m6 s12">
      <div class="hcfn" id="highcharts3"></div>
    </div>
</div>
  <!-- highcharts 4 and 5 should be on the same line -->

  <div class="row charts">
    <div class="col l6 m6 s12">
      <div class="hcfn" id="highcharts4"></div>
    </div>
    <div class="col l6 m6 s12">
      <div class="hcfn" id="highcharts5"></div>
    </div>
</div>

</div>

<section class="panel">
<section class="process">

<div>
<h4 class="heavyLiftingTitle">THE <span class="red-font">HEAVY LIFTING</span> DONE FOR YOU.</h4>
<h6 class="heavyLifting">Our 3-step process for high-impact investor insight:</h6>
<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">1. Interview</span>
			</div>
			<div class="desc">Our in-market research team conducts over 200 in-person interviews with the local leaders who matter most.</div>
		</div>
	</li>

	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">2. Analyze</span>
			</div>
			<div class="desc">Our analysts break down expert insights gathered from each interview.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">3. Publish</span>
			</div>
			<div class="desc">We bring you the insights of the top local leaders so you can see the best investment opportunities in each sector of the market.</div>
		</div>
	</li>

</ul>
</section>
</section>


<section class="pub-intro">
  <div class="row">
    <div class="col s4 offset-s4">
      <%= image_tag 'Logo-Invest.png'%>
    </div>
  </div>
  <h4>Tap Into The <span class="red-font">Top 200 Miami Business Minds</span> With Just <span class="red-font">One Publication</span></h4>
  <div class="row">
    <div class="col s5 offset-s1">
      <%= image_tag 'covers.jpg', :class => "mag-covers"%>
    </div>
    <div class="col s5 offset-s1">
      <h5 class="tagline">THE RIGHT PEOPLE. THE RIGHT INDUSTRIES. RIGHT NOW.</h5>
    </div>
  </div>

</section>
  <div class="pub-description">
    <h4 class="section-title">Includes 15 High Impact Chapters</h4>
  </div>
  <div class="row">
    <div class="col s10 offset-s1">
  <%= image_tag 'Accounting.jpg', :class => "chapter"%>
  <%= image_tag 'Bankin-Finance.jpg', :class => "chapter"%>
  <%= image_tag 'Construction.jpg', :class => "chapter"%>
  <%= image_tag 'Economy.jpg', :class => "chapter"%>
  <%= image_tag 'Education.jpg', :class => "chapter"%>
</div>
</div>
<div class="row">
    <div class="col s10 offset-s1">
  <%= image_tag 'Entertainment.jpg', :class => "chapter"%>
  <%= link_to health_path do %><%= image_tag 'Health.jpg', :class => "chapter"%><% end %>
  <%= image_tag 'Retail.jpg', :class => "chapter"%>
  <%= image_tag 'Sports.jpg', :class => "chapter"%>
  <%= image_tag 'Transportation.jpg', :class => "chapter"%>
</div>
</div>
  <div class="row">
      <div class="col s10 offset-s1">
  <%= image_tag 'Legal.jpg', :class => "chapter"%>
  <%= link_to realestate_path do %><%= image_tag 'Real-Estate.jpg', :class => "chapter"%><% end %>
  <%= image_tag 'Trade-Logistics.jpg', :class => "chapter"%>
  <%= image_tag 'Tourism.jpg', :class => "chapter"%>
  <%= image_tag 'Technology.jpg', :class => "chapter"%>
</div>
</div>

<section class="panel">
<section class="checkout-section">
<div class="pub-description">
  <h4 class="section-title">Purchase Your Access Today</h4>
</div>
<div class="row">
  <div class="col s1 offset-s1">
    <i class="fa fa-users purchase fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col s4">
    <h5><span class="red-font">The Right People</span></h5>
    <p><span class="white-font">Exclusive interviews with top CEOs, politicians and cultural icons.</p>

  </div>
  <div class="col s1 offset-s1">
    <i class="fa fa-line-chart purchase fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col s4">
    <h5><span class="red-font">High Impact Analysis</span></h5>
    <p><span class="white-font">Hard-hitting analysis of the leading challenges facing the market.</span></p>
  </div>
</div>
<div class="row bottom-point">
  <div class="col s1 offset-s1">
    <i class="fa fa-industry purchase fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col s4">
    <h5 class="red-font">The Right Industries</h5>
    <p><span class="white-font">In-depth coverage on real estate, finance, trade, technology and a dozen other key sectors.</span></p>
  </div>
  <div class="col s1 offset-s1">
    <i class="fa fa-eye purchase fa-3x" aria-hidden="true"></i>
  </div>
  <div class="col s4">
    <h5 class="red-font">The Top Opportunities</h5>
    <p class="white-font">Emerging opportunities for investors and innovators</p>
  </div>
</div>
</section>
</section>

<!-- Checkout section -->
<section>
  <div class="row payus">
    <div class="col s2 offset-s2 buy-box" >
      <h5 class="buy-title"> By Chapter </h5>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <p class="amount">
            <span> $17.00</span>
          </p>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Purchase a Chapter"
                data-amount="1700"
                data-locale="auto"
                data-label="Buy now"></script>
              <% end %>
    </div>
    <div class="col s2  buy-box" style="margin-left: 15px;">
      <h5 class="buy-title"> Digital Only </h5>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <p class="amount">
            <span> $129.00</span>
          </p>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Digital Only"
                data-amount="12900"
                data-locale="auto"
                data-label="Buy now"></script>
      <% end %>

</div>
    <div class="col s2 buy-box" style="margin-left: 15px;">
      <h5 class="buy-title"> Print Only </h5>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <p class="amount">
            <span> $199.00</span>
          </p>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Print Only"
                data-amount="19900"
                data-locale="auto"
                data-shipping-address="true"
                data-label="Buy now"></script>
      <% end %>
    </div>
    <div class="col s2 buy-box" style="margin-left: 15px;">
      <%= form_tag charges_path do %>
      <h5 class="buy-title"> Digital + Print </h5>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <p class="amount">
            $254.00
          </p>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Print + Digital"
                data-amount="25400"
                data-locale="auto"
                data-shipping-address="true"
                data-label="Buy now"></script>
      <% end %>
    </div>
  </div>
</section>

<!-- section to buy the magazine -->

<section class="buy-links">
  <div class="row">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>


<div id="recent_posts">
  <h4 class="rss-header">Recent Invest<span class="red-font">:Miami Posts</span></h4>
  <div class ="row">
    <ul>
      <% for entry in FeedEntry.limit(6) %>
        <div class="col m4 rss-feed">
          <li><%= link_to entry.name, entry.url, :class => 'feed-title'%></li>
          <li class="divider"></li>
          <li><%= sanitize entry.summary, :class => 'feed-summary' %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>


<!-- Invest Miami Tweeter feed -->
<section class="panel">
<div class="twitter-feed">
  <h4 class="tweets-header"> Tweets by Invest:Miami </h4>
  <div class="row">
    <div class="col s4 offset-s4">
      <a class="twitter-timeline" href="https://twitter.com/Invest_Miami" data-widget-id="625954614261731328">Tweets by @Invest_Miami</a><br />
    </div>
  </div>
</div>
</section>

<!-- Political and Business Testimonials -->

<div class="container">
    <div class="row">
        <div class="col l12 center-align">
            <div class=""></div>
            <h3>Testimonials from <span class="red-font">Political</span> and <span class="red-font">Business</span> Leaders</h3>
            <p>How state initiatives are bringing new jobs and diverse investments to Miami-Dade.</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col s12 l4">
            <div class="bubble">
              <blockquote class="rectangle-speech-border">
              <p class="speech">
              "We’ve been able to add 1.25 million jobs in the first five years of the initiative, including 18,000 new jobs in Miami-Dade from Nov 2014 to Nov 2015, bringing the county unemployment rate to 5.8 percent."</p>
            </blockquote>
              </div>
            <div class="comments-avatar">
                  <%= image_tag 'avatar_rs.png', :class => 'avatar'%>

                <div class="media-body">
                    <div class="commens-name">
                        <p>Rick Scott</p>
                    </div>
                    <small class="text-muted">Governor - State of Florida</small>
                </div>
            </div>
        </div>

        <div class="col s12 l4">
            <div class="bubble">
              <blockquote class="rectangle-speech-border">
              <p class="speech">
              "Every day, we continue to invest in making Miami-Dade County a world-class community for our residents to live, work and play."</p>
            </blockquote>
            </div>
            <div class="comments-avatar">
                  <%= image_tag 'avatar_cg.png', :class => 'avatar-mid'%>

                <div class="media-body">
                    <div class="commens-name">
                        <p>Carlos A. Gimenez</p>
                    </div>
                    <small class="text-muted">Mayor - Miami Dade County</small>
                </div>
            </div>
        </div>

        <div class="col s12 l4">
            <div class="bubble">
              <blockquote class="rectangle-speech-border">
            <p class="speech">
              "Global changes impact Miami’s economy as much or more than any other U.S. community. Miami-Dade continues to be a gateway for investment to the U.S. and the region."</p>
            </blockquote>
            </div>
            <br>
            <div class="comments-avatar">
                  <%= image_tag 'avatar_lw.png', :class => 'avatar'%>
                <div class="media-body">
                    <div class="commens-name">
                        <p>Larry K. Williams</p>
                    </div>
                    <small class="text-muted">President &amp; CEO, The Beacon Council</small>
                </div>
            </div>
        </div>
    </div>
</div>

</section>


<!-- contact us section -->

<footer class="process-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="footer-text"><span class="white-font">THE RIGHT PEOPLE.</span> <span class="red-font">THE RIGHT INDUSTRIES.</span><span class="white-font"> RIGHT NOW.</span></p>
      </div>
      <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Follow Us</h5>
          <a href="https://www.linkedin.com/company/capital-analytics-associates"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Invest_Miami"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/capitalanalyticsassociates/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UC4pxI9TxPRyoxcrY7fItF5w"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span class="white-font">© 2016 Copyright Text</span>
    </div>
  </div>
</footer>
