<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag 'Miami_1.jpg' %>
      <div class="caption center-align">
        <h3>DISCOVER <span class="red-font">NEW</span> MARKETS</h3>
        <h5 class="light grey-text text-lighten-3">THE RIGHT <span class="red-font">PEOPLE</span> THE RIGHT <span class="red-font">INDUSTRIES</span> RIGHT <span class="red-font">NOW</span></h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami_2.jpg' %>
      <div class="caption left-align">
        <h3>WE CREATE <span class="red-font">MEANINGFUL</span> INTERFACES THAT INSPIRE.</h3>
        <h5 class="light grey-text text-lighten-3">FIND OUT WHAT MIAMI CAN OFFER</h5>
      </div>
    </li>
    <li>
      <<%= image_tag 'miami-construction.jpg' %>
      <div class="caption right-align">
        <h3>TAP INTO THE WISDOM OF THE <span class="red-font">TOP 200 BUSINESS</span> MINDS</h3>
        <h5 class="light grey-text text-lighten-3">The only way for investors and entrepreneurs to instantly access the insights of the top 200 local business leaders</h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami-design.jpg' %>
      <div class="caption center-align">
        <h3>YOUR 360-DEGREE VIEW OF THE <span class="red-font">MARKET</span></h3>
        <h5 class="light grey-text text-lighten-3">Invest: Miami gives you the panoramic view of the Miami market to deliver the intelligence you need to succeed in any industry</h5>
      </div>
    </li>
  </ul>
</div>
<h4>WHY MIAMI</h4>

<!-- <div id="highcharts1" style="height: 300px"></div> -->

<!-- Miami MSA GDP compared to US -->
<div class="charts-container">
  <div id="highcharts2" style="width: 550px; height: 400px; margin: 0 auto"></div>

  <div id="highcharts3" style="width: 550px; height: 400px; margin: 0 auto"></div>

  <!-- highcharts 4 and 5 should be on the same line -->
  <div id="highcharts4" style="width: 550px; height: 400px; margin: 0 auto"></div>

  <div id="highcharts5" style="width: 550px; height: 400px; margin: 0 auto"></div>

</div>

<div>
<h4>THE HEAVY LIFTING DONE FOR YOU.</h4>
<h6>Our 3-step process for high-impact investor insight:</h6>
<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">1. Interview</span>
			</div>
			<div class="desc">Our in-market research team conducts over 200 in-person interviews with the local leaders who matter most.</div>
		</div>
	</li>

	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">2. Analyze</span>
			</div>
			<div class="desc">Our analysts break down expert insights gathered from each interview.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">3. Publish</span>
			</div>
			<div class="desc">We bring you the insights of the top local leaders so you can see the best investment opportunities in each sector of the market.</div>
		</div>
	</li>

</ul>


<div id="recent_posts">
  <h3>Recent Invest Miami Posts</h3>
  <ul>
    <% for entry in FeedEntry.all %>
    <li><%= link_to entry.name, entry.url %>
      <p><%#= entry.summary %>
    </li>
    <% end %>
  </ul>
</div>


<div id="recent_posts">
  <h3>Recent Real Estate Miami Posts</h3>
  <ul>
    <% for entry in FeedEntry.realEstateFeed %>
    <li><%= link_to entry.title, entry.url %>
      <p><%#= entry.summary %>
    </li>
    <% end %>
  </ul>
</div>


<div id="recent_posts">
  <h3>Recent Healthcare Miami Posts</h3>
  <ul>
    <% for entry in FeedEntry.healthFeed %>
    <li><%= link_to entry.title, entry.url %>
      <p><%#= entry.summary %>
    </li>
    <% end %>
  </ul>
</div>
