<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag 'Miami_1.jpg' %>
      <div class="caption center-align">
        <h3>DISCOVER <span class="red-font">NEW</span> MARKETS</h3>
        <h5 class="light grey-text text-lighten-3">THE RIGHT <span class="red-font">PEOPLE</span> THE RIGHT <span class="red-font">INDUSTRIES</span> RIGHT <span class="red-font">NOW</span></h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami_2.jpg' %>
      <div class="caption left-align">
        <h3>WE CREATE <span class="red-font">MEANINGFUL</span> INTERFACES THAT INSPIRE.</h3>
        <h5 class="light grey-text text-lighten-3">FIND OUT WHAT MIAMI CAN OFFER</h5>
      </div>
    </li>
    <li>
      <<%= image_tag 'miami-construction.jpg' %>
      <div class="caption right-align">
        <h3>TAP INTO THE WISDOM OF THE <span class="red-font">TOP 200 BUSINESS</span> MINDS</h3>
        <h5 class="light grey-text text-lighten-3">The only way for investors and entrepreneurs to instantly access the insights of the top 200 local business leaders</h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami-design.jpg' %>
      <div class="caption center-align">
        <h3>YOUR 360-DEGREE VIEW OF THE <span class="red-font">MARKET</span></h3>
        <h5 class="light grey-text text-lighten-3">Invest: Miami gives you the panoramic view of the Miami market to deliver the intelligence you need to succeed in any industry</h5>
      </div>
    </li>
  </ul>
</div>
<h4>WHY <span class="red-font">MIAMI</span></h4>

<!-- <div id="highcharts1" style="height: 300px"></div> -->

<!-- Miami MSA GDP compared to US -->
<div class="charts-container">
  <div class="row charts">
    <div class="col s6">
      <div id="highcharts2" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts3" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
  <!-- highcharts 4 and 5 should be on the same line -->

  <div class="row charts">
    <div class="col s6">
      <div id="highcharts4" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts5" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

</div>


<section class="process">

<div>
<h4 class="heavyLiftingTitle">THE <span class="red-font">HEAVY LIFTING</span> DONE FOR YOU.</h4>
<h6 class="heavyLifting">Our 3-step process for high-impact investor insight:</h6>
<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">1. Interview</span>
			</div>
			<div class="desc">Our in-market research team conducts over 200 in-person interviews with the local leaders who matter most.</div>
		</div>
	</li>

	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">2. Analyze</span>
			</div>
			<div class="desc">Our analysts break down expert insights gathered from each interview.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">3. Publish</span>
			</div>
			<div class="desc">We bring you the insights of the top local leaders so you can see the best investment opportunities in each sector of the market.</div>
		</div>
	</li>

</ul>
</section>


<!-- section to buy the magazine -->

<section class="buy-links">
  <div class=""></div>
  <div class=""></div>
  <div class=""></div>
</section>


<div id="recent_posts">
  <h3>Recent Invest Miami Posts</h3>
  <ul>
    <% for entry in FeedEntry.all %>
    <li><%= link_to entry.name, entry.url %>
    </li>
    <% end %>
  </ul>
</div>


<!-- Invest Miami Tweeter feed -->
<div class="twitter-feed">
  <h4 class="tweets-header"> Tweets by Invest:Miami </h4>
  <div class="row">
    <div class="col s4 offset-s4">
      <a class="twitter-timeline" href="https://twitter.com/Invest_Miami" data-widget-id="625954614261731328">Tweets by @Invest_Miami</a><br />
    </div>
  </div>
</div>

<!-- Political and Business Testimonials -->

<div class="container">
    <div class="row">
        <div class="col l12 center-align">
            <div class=""></div>
            <h3>Testimonials from Political and Business Leaders</h3>
            <p>How state initiatives are bringing new jobs and diverse investments to Miami-Dade.</p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col s12 l4">
            <div class="bubble">
              "We’ve been able to add 1.25 million jobs in the first five years of the initiative, including 18,000
              new jobs in Miami-Dade from Nov 2014 to Nov 2015, bringing the county unemployment rate to 5.8 percent."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar_rs.png') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Rick Scott
                    </div>
                    <small class="text-muted">Governor - State of Florida</small>
                </div>
            </div>
        </div>

        <div class="col s12 l4">
            <div class="bubble">
              "Every day, we continue to invest in making Miami-Dade County a world-class community for our residents to live, work and play. "
              <br>
              <br>
              <br>
              <br>
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar_cg.png') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Carlos A. Gimenez
                    </div>
                    <small class="text-muted">Mayor - Miami Dade County</small>
                </div>
            </div>
        </div>

        <div class="col s12 l4">
            <div class="bubble">
              "Global changes impact Miami’s economy as much or more than any other U.S. community.
              Miami-Dade continues to be a gateway for investment to the U.S. and the region."
            </div>
            <br>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('avatar_lw.png') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Larry K. Williams
                    </div>
                    <small class="text-muted">President & CEO, The Beacon Council</small>
                </div>
            </div>
        </div>
    </div>
</div>

</section>


<!-- contact us section -->

<footer class="process-footer">
  <div class="container">
    <!-- <h4><span class="white-font">Contact Us</span></h4> -->
    <div class="row">
      <div class="col l6 s12">
        <p><span class="white-font">THE RIGHT PEOPLE.</span> <span class="red-font">THE RIGHT INDUSTRIES.</span><span class="white-font"> RIGHT NOW.</span></p>
      </div>
      <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Follow Us</h5>
          <a href="https://www.linkedin.com/company/capital-analytics-associates"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Invest_Miami"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/capitalanalyticsassociates/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UC4pxI9TxPRyoxcrY7fItF5w"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span class="white-font">© 2016 Copyright Text</span>
    </div>
  </div>
</footer>
