<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to health_path do%>Health<% end %></li>
  <li><%= link_to realestate_path do%>Real Estate<% end %></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <%= link_to root_path, :class => "brand-logo" do%><%= image_tag("Logo-Invest.png") %> <% end %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Industries<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><%= link_to business_directory_path do%>Business Directory<% end %></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
